<oxd-text tag="p" class="XHRM-copyright">{{ productName }} {{ productVersion }}</oxd-text>
<oxd-text tag="p" class="XHRM-copyright">&copy; 2005 - {{ copyrightYear}} <a href="http://xsofty.com" target="_blank">Xsofty</a>. All rights reserved.</oxd-text>
