.XHRM-header-container,
.XHRM-dialog-header-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  & .oxd-button {
    white-space: nowrap;
  }
}

.XHRM-header-container {
  padding: 25px;
}

.XHRM-dialog-header-container {
  padding: 1.2rem;
}

.XHRM-main-title {
  font-size: 16px !important;
  font-weight: 700 !important;
}

.XHRM-sub-title {
  padding: 0.25rem 0 !important;
  font-size: 14px !important;
  font-weight: 700 !important;
}

.XHRM-left-space {
  margin-left: 10px;
}

.XHRM-card-container {
  background-color: $oxd-white-color;
  border-radius: 1.2rem;
  padding: 25px;

  @media screen and (max-width: 400px) {
    .oxd-form-actions {
      gap: 5px 0;
      flex-wrap: wrap;
    }
  }
}

.XHRM-container {
  background-color: $oxd-interface-gray-lighten-2-color;
  /*border-radius: 1.2rem;*/
  padding: 0.5rem;

  & .oxd-table-header-cell {
    & .oxd-checkbox-input {
      border: $oxd-border $oxd-interface-gray-color;
    }
  }

  & .oxd-table-card {
    .card-header-slot-content .data {
      font-size: 1rem;
    }
  }
}

.XHRM-paper-container {
  background-color: $oxd-white-color;
  border-radius: 1.2rem;
}

.XHRM-horizontal-padding {
  padding-left: 25px;
  padding-right: 25px;
}

.XHRM-dialog-horizontal-padding {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

.XHRM-vertical-padding {
  padding-top: 25px;
  padding-bottom: 25px;
}

.XHRM-dialog-vertical-padding {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

.XHRM-top-padding {
  padding-top: 25px;
}

.XHRM-horizontal-margin {
  margin-left: 25px;
  margin-right: 25px;
}

.XHRM-dialog-horizontal-margin {
  margin-left: 1.2rem;
  margin-right: 1.2rem;
}

.XHRM-bottom-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 25px;
}

.XHRM-background-container {
  padding: 1.5rem 0;
  flex: 1;
}

.XHRM-input-hint {
  font-size: 0.75rem;
  margin-top: -15px;
  padding-bottom: 1rem;
}

.XHRM-clear-margins {
  margin-top: 0;
  margin-bottom: 0;
}

.XHRM-copyright-wrapper {
  margin: 0.5rem 0;
}

.XHRM-copyright {
  font-size: 0.75rem;
  text-align: center;
  color: var(--oxd-interface-gray-darken-2-color);
  opacity: 0.8;
  transition: color 0.3s ease;

  & a {
    color: var(--oxd-interface-gray-darken-2-color);
    text-decoration: none;
    font-weight: 600;

    &:hover {
      text-decoration: underline;
    }
  }
}

.XHRM-form-action {
  gap: 5px;
  flex-wrap: wrap !important;
}

.XHRM-dialog-modal {
  width: 90%;
  max-width: 600px;
}

.XHRM-dialog-popup {
  max-width: 450px;
}

.XHRM-input-field-bottom-space {
  margin-bottom: 1rem;
}

.oxd-tab-bar {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}