// XHRM is a comprehensive Human Resource Management (HRM) System that captures
// all the essential functionalities required for any enterprise.
// Copyright (C) 2006 XHRM Inc., http://www.XHRM.com
//
// XHRM is free software: you can redistribute it and/or modify it under the terms of
// the GNU General Public License as published by the Free Software Foundation, either
// version 3 of the License, or (at your option) any later version.
//
// XHRM is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
// without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
// See the GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License along with XHRM.
// If not, see <https://www.gnu.org/licenses/>.


.XHRM-timeperiod {
  &-picker {
    gap: 0.5rem;
    display: grid;
    align-items: center;
    grid-template:
      'prev   title  next'
      'picker picker picker' / 36px auto 36px;
    @include oxd-respond-to('md') {
      grid-template: 'title prev picker next' / auto auto minmax(
          240px,
          max-content
        ) auto;
    }
  }
  &-title {
    text-align: center;
    font-size: 12px;
    grid-area: title;
  }
  &-icon {
    &.--prev {
      grid-area: prev;
    }
    &.--next {
      grid-area: next;
    }
  }
}
.oxd-input-group {
  margin-bottom: 0;
  grid-area: picker;
}
::v-deep(.oxd-input-group__label-wrapper) {
  display: none;
}
